.square {
  border: 1px solid #999;
  padding: 0;
  font-weight: 700;
  font-size: calc(var(--square-size) * 2 / 3);
  line-height: var(--square-size);
  text-align: center;
  background-color: #fff;
}
