.square {
  border: var(--border);
  padding: 0;
  font-weight: 700;
  font-size: calc(var(--size_square) * 2 / 3);
  line-height: var(--size_square);
  text-align: center;
  background-color: #fff;
}
