*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font: 14px "Century Gothic", "Futura", sans-serif;
}

ol,
ul {
  padding-left: 0;
  list-style-position: inside;
}

.reference {
  margin-top: 0;
  margin-bottom: 24px;
}

.board-row {
  display: flex;
}

.square {
  --square-size: 48px;

  background: #fff;
  border: 1px solid #999;
  font-size: calc(var(--square-size) * 12 / 17);
  font-weight: bold;
  line-height: var(--square-size);
  width: var(--square-size);
  height: var(--square-size);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.game {
  display: flex;
}

.game__info {
  margin-left: 20px;
}

.game__status {
  margin-bottom: 10px;
}

.step-button {
  &--current {
    font-weight: 700;
  }
}
